<link rel="stylesheet" type="text/css" href="plugins/Goals/stylesheets/goals.css"/>
<span data-graph-id="{{ nameGraphEvolution }}"></span>
{% if displayFullReport or headline is defined %}
    <h2 piwik-enriched-headline
            {% if idGoal is defined and idGoal and goalName is defined and not ecommerce is defined %}
                edit-url="{{ linkTo({'module': 'Goals', 'action': 'manage', 'idGoal': idGoal})|e('html_attr') }}"
                feature-name="{{ 'Goals_Details'|translate|e('html_attr') }}"
            {% endif %}
    >{% if headline is defined %}{{ headline }}{% elseif goalName is defined %}{{ 'Goals_GoalX'|translate(goalName) }}{% else %}{{ 'General_EvolutionOverPeriod'|translate }}{% endif %}</h2>
{% endif %}
{{ graphEvolution|raw }}

<h2 piwik-enriched-headline>{{ 'Ecommerce_Conversions'|translate }}</h2>
{{ goalReportsByDimension|raw }}