{% if not isWidget %}
<div class="row">
    <div class="col-md-6">
{% endif %}

        <div class="sparkline">
            {{ sparkline(urlSparklineNbVisits)|raw }}
            {{ 'General_NVisits'|translate("<strong>"~nbVisits|number~"</strong>")|raw }}{% if displayUniqueVisitors %},
                {{ 'VisitsSummary_NbUniqueVisitors'|translate("<strong>"~nbUniqVisitors|number~"</strong>")|raw }}{% endif %}
        </div>
        {% if nbUsers > 0 %}
            {# Most of users will not have used `setUserId` so this would be confusingly zero #}
            <div class="sparkline">
                {{ sparkline(urlSparklineNbUsers)|raw }}
                {{ 'General_NUsers'|translate("<strong>"~nbUsers|number~"</strong>")|raw }}
            </div>
        {% endif %}
        <div class="sparkline">
            {{ sparkline(urlSparklineBounceRate)|raw }}
            {{ 'VisitsSummary_NbVisitsBounced'|translate("<strong>"~bounceRate|percent~"</strong>")|raw }}
        </div>
        {% if showGoalsPluginReports|default(false) %}
            {% for goal in goalMetrics %}
                {% set nb_conversions=goal.nb_conversions %}
                {% set conversion_rate=goal.conversion_rate %}
                {% set name=goal.name %}
                <a href="javascript:broadcast.propagateAjax('module=Goals&action=goalReport&idGoal={{ goal.id }}')">
                    <div class="sparkline">
                        {{ sparkline(goal.urlSparklineConversions)|raw }}
                        {{ 'Goals_GoalX'|translate("'"~name~"'") }}
                        {{ 'Goals_Conversions'|translate("<strong>"~nb_conversions|number~"</strong>")|raw }},
                        {{ 'Goals_ConversionRate'|translate("<strong>"~conversion_rate|percent~"</strong>")|raw }}
                    </div>
                </a>
            {% endfor %}
        {% endif %}

{% if not isWidget %}
    </div>
    <div class="col-md-6">
{% endif %}
        <div class="sparkline">
            {{ sparkline(urlSparklineActionsPerVisit)|raw }}
            {{ 'VisitsSummary_NbActionsPerVisit'|translate("<strong>"~nbActionsPerVisit|number(1)~"</strong>")|raw }}
        </div>
        {% if showActionsPluginReports|default(false) %}
            {% if showOnlyActions %}
                <div class="sparkline">
                    {{ sparkline(urlSparklineNbActions)|raw }}
                    {{ 'VisitsSummary_NbActionsDescription'|translate("<strong>"~nbActions|number~"</strong>")|raw }}
                </div>
            {% else %}
                <div class="sparkline">
                    {{ sparkline(urlSparklineNbPageviews)|raw }}
                    {{ 'VisitsSummary_NbPageviewsDescription'|translate("<strong>"~nbPageviews|number~"</strong>")|trim|raw }}
                </div>
                <div class="sparkline">
                        {{ sparkline(urlSparklineNbOutlinks)|raw }}
                        {{ 'VisitsSummary_NbOutlinksDescription'|translate("<strong>"~nbOutlinks|number~"</strong>")|trim|raw }},
                        {{ 'VisitsSummary_NbUniqueOutlinksDescription'|translate("<strong>"~nbUniqueOutlinks|number~"</strong>")|raw }}
                </div>
                <div class="sparkline">
                    {{ sparkline(urlSparklineAvgGenerationTime)|raw }}
                    {% set averageGenerationTime=averageGenerationTime|sumtime %}
                    {{ 'VisitsSummary_AverageGenerationTime'|translate("<strong>"~averageGenerationTime~"</strong>")|raw }}
                </div>
                {% endif %}
        {% endif %}
        <div class="sparkline">
            {{ sparkline(urlSparklineAvgVisitDuration)|raw }}
            {% set averageVisitDuration=averageVisitDuration|sumtime %}
            {{ 'VisitsSummary_AverageVisitDuration'|translate("<strong>"~averageVisitDuration~"</strong>")|raw }}
        </div>

        {{ postEvent('Template.VisitsSummaryOverviewSparklines') }}

{% if not isWidget %}
    </div>
</div>
{% endif %}

{% include "_sparklineFooter.twig" %}

